<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>File uploaded</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>

        body {
            background-color: black;
            color: #13911D;
            text-align: center;
        }

        #status_area {
            height: 400px;
            border: 2px dashed #13911D;
            --line-height: 200px;
            font-size: 20px;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>

<div class="container">
    <div id="status_area">
        <h2 th:text="${status}">Status</h2>
        <h3 th:text="${messageText}">Message text</h3>
        <span th:ext="'Job-ID: ' + ${jobid} + ', Message-ID: ' + ${messageId}">Job-ID: 156465/SRANKO/QPADEW00, Message-ID: WebTaskErrorXY</span>
        </br></br>
        <span th:switch="${status}">
            <span th:case="'Error'">Schließen Sie bitte das Fenster und wiederholen Sie den Import</span>
            <span th:case="'Success'">Schließen Sie bitte das Fenster</span>
        </span>
    </div>
</div>

</body>
</html>