<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>File uploaded</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="images/main.css">
</head>
<body>

<div class="container">
    <div id="status_area" class="tainas_look">
        <h2 th:text="${status}">Status</h2>
        <h3 th:text="${messageText}">Message text</h3>
        <span th:text="'Job-ID: ' + ${jobid} + ', Message-ID: ' + ${messageId}">Job-ID: 156465/SRANKO/QPADEW00, Message-ID: WebTaskErrorXY</span>
        </br></br>
        <span th:switch="${status}">
            <span th:case="Exception">Verwendete Exceldatei scheint nicht kompatible zu sein. Bitte wenden Sie sich auf IT-Support.</span>
            <span th:case="'Error'">Schließen Sie bitte das Fenster und wiederholen Sie den Import</span>
            <span th:case="'success'">Schließen Sie bitte das Fenster</span>
            <span th:case="'Info'">Schließen Sie bitte das Fenster und wiederholen Sie den Import</span>
        </span>
    </div>
</div>

</body>
</html>